<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
    Lista de cursos aqui.
</div>

<div *ngIf="cursos.length == 0">
    Não Mostrar Cursos.
</div>

<div *ngIf="mostrarCursos">
    Mostrar Cursos.
</div>

<div *ngIf="!mostrarCursos">
    Não Mostrar Cursos.
</div>

<button (click)="onMostrarCursos()">Mostrar ou esconder Cursos</button>

<h5>hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">
    Lista de cursos aqui
</div>

<div [hidden]="mostrarCursos">
    Não Existe Lista de cursos aqui
</div>

<template [ngIf]="mostrarCursos">
    <div> Lista de cursos aqui </div>
</template>

<div>

</div>